<!--<md-dialog>
    <form name="newConvenioForm" ng-submit="salvar()" ng-init="setFormNewConvenioScope(this)">
        <md-dialog-content>
            <div layout="column" layout-padding>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Foto</label>

                        <md-select ng-model="convenio.foto" name="foto" required="required">
                            <md-option ng-repeat="avatar in avatars" ng-value="avatar">
                                <md-icon md-svg-icon="{{avatar}}"></md-icon>
                            </md-option>
                        </md-select>
                        <div ng-messages="newConvenioForm.foto.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nome</label>
                        <input ng-model="convenio.nome" name="nome" required="required">
                        <div ng-messages="newConvenioForm.firstName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>crm</label>
                        <input ng-model="convenio.crm" name="crm" required>
                        <div ng-messages="newConvenioForm.crm.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Especialidade</label>
                    <textarea name="especialidade" ng-model="convenio.especialidade" rows="5" required></textarea>
                    <div ng-messages="newConvenioForm.especialidade.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancelar()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="newConvenioForm.$invalid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>-->



<md-dialog aria-label="Cadastro de Convênios" data-ng-init="getEnuns()">
    <!--<pre>{{ convenio| json}}</pre>-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cadastro de Convênios</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <form name="newConvenioForm" ng-submit="salvar()" ng-init="setFormNewConvenioScope(this)">
        <md-dialog-content layout-padding >
            <md-tabs md-dynamic-height md-stretch-tabs="always"  md-selected="tabIndex" md-border-bottom>
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Informações Pessoais</md-tooltip>
                        <ng-md-icon icon="person" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>

                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>






                        <div layout="column" layout-padding>

                            <div>

                                <div layout-gt-sm="row">



                                    <div layout-gt-sm="row">


                                        <div flex-gt-xs>
                                            <h4>Registro(Ans)*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Registro(Ans):</label>
                                                <input ng-model="convenio.registroAns"   name="registroAns" minlength="4" maxlength="255" required="required">
                                                <div ng-messages="newConvenioForm.registroAns.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div flex-gt-xs>
                                        <h4>Razão Social*:</h4>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Razão Social:</label>
                                            <input ng-model="convenio.razaoSocial"   name="razaoSocial" minlength="4" maxlength="255" required="required">
                                            <div ng-messages="newConvenioForm.razaoSocial.$error">
                                                <div ng-message="required">Campo Obrigatório.</div>
                                            </div>
                                        </md-input-container>
                                    </div>


                                </div>

                            </div>

                        <div>
                            <div layout-gt-sm="row">


                            </div>
                            <div layout-gt-sm="row">
                                <div flex-gt-xs>
                                    <h4>Nome Fantasia*:</h4>
                                    <md-input-container  class="md-block" >
                                        <label>Nome Fantasia:</label>
                                        <input ng-model="convenio.nomeFantasia" name="nomeFantasia" minlength="4" maxlength="80" required="required">
                                        <div ng-messages="newConvenioForm.nomeFantasia.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                        </div>
                                    </md-input-container>
                                </div>


                            </div>








                           <!-- <div flex="100" flex-gt-sm="50" layout="column">
                                <div>

                                    <fieldset class="standard" >
                                        <legend>Permissões*: </legend>
                                        <div layout="row" layout-wrap flex>
                                            <div flex="100" ng-repeat="medico in medicos">
                                                <md-checkbox id="{{medico.id}}" type="checkbox" checklist-model="convenio.medicos" checklist-value="medico" ></md-checkbox>
                                                <span>{{medico.user.nome}}</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>-->

                            <md-card style="max-height: 400px;">

                                <div layout="row">

                                    <md-toolbar>






                                        <md-toolbar class="md-menu-toolbar" class="scrollable-nav-content">



                                            <md-toolbar>
                                                <div class="md-toolbar-tools">
                                                    <h2 hide-xs>Filtrar Médicos</h2>
                                                    <span flex></span>
                                                    <md-autocomplete
                                                            md-search-text="searchText"
                                                            md-items="elements in medicos | filter:searchText"
                                                            md-selected-item="elements.nome"

                                                            md-item-text="elements.user.nome"
                                                            md-min-length="3"
                                                            placeholder="Filtrar Médicos">
                                                        <md-item-template>

                                                            <md-icon md-svg-icon="doutor" class="md-user-avatar" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Masculino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                                            <md-icon md-svg-icon="doutora" class="md-user-avatar" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Feminino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                                            <img class="md-user-avatar" ng-if="!!elements.user.fileUpload"  src="{{elements.user.fileUpload.mimeType}},{{elements.user.fileUpload.file}}" class="avatar" style="width: 20px; height: 20px;">

                                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.user.nome}}</span><span>/</span>
                                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.especialidade}}</span>
                                                        </md-item-template>
                                                        <md-not-found>
                                                            No user matching "{{searchText}}" were found.
                                                        </md-not-found>
                                                    </md-autocomplete>






                                                </div>
                                            </md-toolbar>

                                        <md-content  md-theme="altTheme">

                                            <section>
                                                <md-subheader class="md-primary">Selecione os médicos que atendem este convênio</md-subheader>
                                            </section>
                                        </md-content>



                                    </md-toolbar>






                                </div>


                            </md-toolbar>


                            <md-divider></md-divider>



                            <md-table-container>
                                <table data-md-table >
                                    <!-- <thead md-head md-order="query.order">
                                      <tr md-row>
                                        <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
                                          <span>{{column.name}}</span>
                                          <span ng-if="column.unit">({{column.unit}})</span>
                                        </th>
                                      </tr>
                                    </thead> -->
                                    <thead  md-head>
                                    <tr md-row>
                                        <th md-column><span>Selected:</span></th>
                                        <th md-column><span>Id:</span></th>
                                        <th md-column><span>Foto:</span></th>
                                        <th md-column><span>Nome:</span></th>
                                        <th md-column><span>Especialidade:</span></th>
                                        <th md-column><span>Tipo Registro:</span></th>
                                        <th md-column><span>Registro Profissional:</span></th>
                                        <th md-column><span>Sexo:</span></th>

                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="medico in medicos | filter:searchText ">
                                        <td md-cell> <md-checkbox id="{{medico.id}}" type="checkbox" checklist-model="convenio.medicos" checklist-value="medico" aria-label="Médicos do Convênio" ></md-checkbox></td>
                                        <td md-cell>{{medico.id}}</td>
                                        <td md-cell>
                                            <md-icon md-svg-icon="doutor" class="md-user-avatar" ng-if="!medico.user.fileUpload && medico.sexo.indexOf('Masculino') !== -1" style="width: 60px; height: 60px;"></md-icon>
                                            <md-icon md-svg-icon="doutora" class="md-user-avatar" ng-if="!medico.user.fileUpload && medico.sexo.indexOf('Feminino') !== -1" style="width: 60px; height: 60px;"></md-icon>
                                            <img class="md-user-avatar" ng-if="!!medico.user.fileUpload"  src="{{medico.user.fileUpload.mimeType}},{{medico.user.fileUpload.file}}" class="avatar" style="width: 60px; height: 60px;">
                                        </td>
                                        <td md-cell><span>{{medico.user.nome}}</span></td>
                                        <td md-cell> <span>{{medico.especialidade}}</span></td>
                                        <td md-cell><span>{{medico.tipoRegistro}}</span></td>
                                        <td md-cell><span>{{medico.registroProfissional}}</span></td>
                                        <td md-cell><span>{{medico.sexo}}</span></td>




                                    </tr>
                                    </tbody>
                                </table>
                                <md-divider></md-divider>
                            </md-table-container>


                            </md-card>

                          <!--  <md-card>
                                    <md-toolbar layout-align="center center" >


                                        &lt;!&ndash;<h1 class="md-title"><md-icon md-svg-icon="convenio" class="menu-svg"></md-icon></h1>&ndash;&gt;
                                        <h4>Médicos</h4>

                                    </md-toolbar>



                                    <md-table-container>
                                        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                                            <thead md-head md-order="order" md-on-reorder="getDesserts">
                                            <tr md-row>

                                                <th md-column md-column >
                        <span>id:
                            <i class="material-icons" ng-click="reorder('id')">arrow_downward</i><i class="material-icons"  ng-click="reorder('-id')">arrow_upward</i>
                        </span></th>

                                                <th md-column md-column>Nome:

                                                </th>
                                                <th md-column md-column>Registro Profissional:

                                                </th>


                                            </tr>
                                            </thead>
                                            <tbody md-body>

                                            <tr md-row md-select="medico" md-select-id="nome"  md-auto-select ng-repeat="medico in medicos | filter:searchText | orderBy: order| limitTo: myLimit: (myPage - 1) * myLimit">
                                                &lt;!&ndash;<pre>{{selected | json}}</pre>&ndash;&gt;
                                                <td md-cell>{{medico.id}}</td>
                                                <td md-cell>{{medico.user.nome}}</td>
                                                <td md-cell>{{medico.registroProfissional}}</td>

                                            <tr md-row ng-show ="data_loading">

                                                <td class="text-center" colspan="6" >   <div layout="row" layout-sm="column" layout-align="space-around"><md-progress-circular class="center center" ng-if="data_loading" class="md-accent" md-mode="indeterminate" md-diameter="70px"></md-progress-circular></div></td>
                                            </tr>
                                            </tr>
                                            <tr md-row ng-show ="medicos.length == 0 && !data_loading">
                                                <td class="text-center" colspan="6" >Nenhum medico encontrado.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-table-container>

                                    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
                            </md-card>-->










                        </div>
                    </div>


                    </md-tab-body>
                </md-tab>


            </md-tabs>
        </md-dialog-content>


        <md-dialog-actions layout="row">



            <md-button ng-click="cancelar()">
                <md-tooltip md-direction="top" >Cancelar</md-tooltip>
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="newConvenioForm.$invalid && (convenio.usuarios.length == 0 || convenio.usuarios == undefined )">
                <md-tooltip md-direction="top" >Salvar</md-tooltip>
                Save
            </md-button>
        </md-dialog-actions>

        <!--<pre>{{convenio | json}}</pre>-->
    </form>
</md-dialog>

