
<md-dialog aria-label="Cadastro de Pacientes" data-ng-init="getEnuns()">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cadastro de Pacientes</h2>
            <span flex></span>
           <!-- <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>-->
        </div>
    </md-toolbar>
    <form name="newPacienteForm" ng-submit="salvar()" ng-init="setFormNewPacienteScope(this)">
        <md-dialog-content layout-padding>
            <md-tabs md-dynamic-height md-stretch-tabs="always"  md-selected="tabIndex" md-border-bottom>
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Informações Pessoais</md-tooltip>
                        <ng-md-icon icon="person" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>

                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>

                        <div layout="column" layout-padding>
                            <foto model="paciente.user.fileUpload" mimetypefile="{{paciente.user.fileUpload.mimeType}},{{paciente.user.fileUpload.file}}" showfoto="{{paciente.user.fileUpload}}" ng-if="!!paciente.user.fileUpload"></foto>

                            <foto model="paciente.user.fileUpload"  showfoto="{{paciente.user.fileUpload}}" ng-if="!paciente.user.fileUpload"></foto>
                            <div>
                                <div layout-gt-sm="row">

                                    <div flex-gt-xs>
                                        <h4>Matricula*:</h4>
                                        <md-input-container  class="md-block" flex-gt-sm>
                                            <label>Matricula(*):</label>
                                            <input ng-model="paciente.matricula" ng-disabled="true" name="matricula" minlength="4" maxlength="20" required="required">
                                            <div ng-messages="newPacienteForm.matricula.$error">
                                                <div ng-message="required">Campo Obrigatório.</div>
                                            </div>
                                        </md-input-container>
                                    </div>

                                    <div flex-gt-xs>
                                        <h4>Nome*:</h4>
                                        <md-input-container  class="md-block"  flex-gt-sm>
                                            <label>Nome(*):</label>
                                            <input ng-model="paciente.user.nome" name="nome" minlength="4" maxlength="80" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/"  required="required">
                                            <div ng-messages="newPacienteForm.nome.$error">
                                                <div ng-message="required">Campo Obrigatório.</div>
                                                <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                    Deve ter entre 4 e 80.
                                                </div>
                                                <div ng-message-exp="['pattern']">
                                                    Não pode ter números e caracteres especiais.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>


                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>RG*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>RG(*):</label>
                                                <input ng-model="paciente.rg" name="rg" minlength="10" maxlength="12" rg required="required">
                                                <div ng-messages="newPacienteForm.rg.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>CPF*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>CPF(*):</label>
                                                <input ng-model="paciente.cpf" name="cpf" required="required"  ui-br-cpf-mask>
                                                <div ng-messages="newPacienteForm.cpf.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Data de Nascimento*:</h4>
                                            <md-datepicker ng-model="dataNascimento" ng-change="formattedDate('dataNascimento')"  md-max-date="dataMaximaNascimento"  md-placeholder="Data Nascimento(*):" class="date-row">

                                            </md-datepicker>
                                        </div>

                                    </div>

                                </div>


                                <div>

                                    <div layout-gt-sm="row">

                                        <div flex-gt-xs>
                                            <h4>Telefone*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <!--<md-icon md-svg-src="phone_form"></md-icon>-->
                                                <label>Telefone(*):</label>
                                                <input ng-model="paciente.telefone"  name="telefone" required="required" ui-br-phone-number>
                                                <div ng-messages="newPacienteForm.telefone.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Sexo*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <md-radio-group  ng-model="paciente.sexo" class="md-padding" layout="row" ng-required="true" layout-sm="column" layout-align="left center"
                                                                 style="padding-top: 0;">

                                                    <!--<md-radio-button ng-repeat="sexo in sexos" value="{{sexo}}" ng-bind="sexo" aria-label="{{sexo}}" flex class="md-primary"></md-radio-button>-->
                                                    <md-radio-button ng-repeat="sexo in sexos" value="{{sexo}}" flex>{{sexo}}</md-radio-button>



                                                </md-radio-group>
                                            </md-input-container>
                                        </div>



                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Cep*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Cep(*):</label>
                                                <input ng-model="paciente.cep"  name="cep" required="required" ui-br-cep-mask>
                                                <div ng-messages="newPacienteForm.cep.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>

                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Rua*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Rua(*):</label>
                                                <input ng-model="paciente.rua" ng-disabled="true"  name="rua" required="required">
                                                <div ng-messages="newPacienteForm.rua.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>



                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Bairro*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Bairro(*):</label>
                                                <input ng-model="paciente.bairro" ng-disabled="true" name="bairro" required="required" ng-click="buscacpf()">
                                                <div ng-messages="newPacienteForm.bairro.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Cidade*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Cidade(*):</label>
                                                <input ng-model="paciente.cidade" ng-disabled="true" name="cidade" required="required">
                                                <div ng-messages="newPacienteForm.cidade.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                    </div>

                                </div>


                                <div>

                                    <div layout-gt-sm="row">

                                        <div flex-gt-xs>
                                            <h4>Estado*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Estado(*):</label>
                                                <input ng-model="paciente.estado" ng-disabled="true" name="estado" required="required">
                                                <div ng-messages="newPacienteForm.estado.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Número*:</h4>
                                            <md-input-container class="md-block" >
                                                <label>Número(*):</label>
                                                <input ng-model="paciente.numero" name="numero" minlength="4" maxlength="20" required="required">
                                                <div ng-messages="newPacienteForm.numero.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                    <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                        Deve ter entre 4 e 20.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab >
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Informações de acesso</md-tooltip>
                        <ng-md-icon icon="lock_open" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>


                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>

                        <div layout="column" layout-padding>



                            <div>

                                <div flex-gt-xs>
                                    <h4>Email*:</h4>
                                    <md-input-container  class="md-block" >

                                        <label>Email(*):</label>
                                        <input ng-model="paciente.user.email"  name="email"  type="email" ng-required="true" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" >
                                        <md-icon md-svg-src="email_form"></md-icon>
                                        <div ng-messages="newPacienteForm.email.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                Deve ter entre 10 e 100 letras e ser válido.
                                            </div>
                                        </div>

                                    </md-input-container>
                                </div>
                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Senha*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>

                                                <label>Senha(*):</label>
                                                <input ng-model="paciente.user.password" name="senha" type="password" minlength="6" maxlength="20"  required="required"/>
                                                <md-icon md-svg-src="key_form"></md-icon>
                                                <div ng-messages="newPacienteForm.senha.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                    </div>

                                </div>
                                <div>


                                    <div flex-gt-xs>
                                        <h4>Status*:</h4>
                                        <md-input-container class="md-block" flex-gt-sm>

                                            <md-radio-group ng-model="paciente.status" class="md-padding" layout="row" ng-required="true" layout-sm="column" layout-align="left center"
                                                            style="padding-top: 0;">

                                                <md-radio-button value="Ativo" flex class="md-primary">Ativo</md-radio-button>
                                                <md-radio-button value="Inativo" flex> Inativo</md-radio-button>



                                            </md-radio-group>
                                        </md-input-container>
                                    </div>

                                </div>








                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>

                <md-tab >
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Informações adicionais</md-tooltip>
                        <ng-md-icon icon="directions_bike" class="material-icons  md-24">

                    </md-tab-label>
                    <md-tab-body>

                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>

                        <div>
                            <div layout-gt-sm="row">

                                <div flex-gt-xs>
                                    <h4>CNS(SUS)*:</h4>
                                    <md-input-container  class="md-block"  flex-gt-sm>
                                        <label>CNS(SUS):</label>
                                        <input ng-model="paciente.cns" name="cns" minlength="4" maxlength="10" ng-pattern="/^[0-9]{1,}$/" required="required">
                                        <div ng-messages="newPacienteForm.cns.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                            <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                Deve ter entre 4 e 10 números.
                                            </div>
                                            <div ng-message-exp="['pattern']">
                                                Não pode ter letras.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div flex-gt-xs>
                                    <h4>Fator Sanguíneo*:</h4>
                                    <md-input-container class="md-block" layout-gt-sm >

                                        <md-select ng-model="paciente.fatorSanguineo" name="fatorSanguineo" required="required" aria-label="Tipo Sanguíneo" placeholder="Tipo Sanguíneo">
                                            <md-option ng-repeat="fatorSanguineo in fatoresSanguineos" ng-value="fatorSanguineo"   ng-bind="fatorSanguineo">
                                                &lt;!&ndash; <md-icon md-svg-icon="{{avatar}}"></md-icon>&ndash;&gt;
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="newPacienteForm.fatorSanguineo.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div flex-gt-xs>
                                    <h4>Estado Civil*:</h4>
                                    <md-input-container class="md-block" flex-gt-sm>

                                        <md-select ng-model="paciente.estadoCivil" name="estadoCivil" required="required"  aria-label="Estado Civil" placeholder="Estado Civil">
                                            <md-option ng-repeat="estadoCivil in estadosCivis" ng-value="estadoCivil"  ng-bind="estadoCivil">
                                                &lt;!&ndash; <md-icon md-svg-icon="{{avatar}}"></md-icon>&ndash;&gt;
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="newPacienteForm.estadoCivil.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout-gt-sm="row">
                                <div flex-gt-xs>
                                    <h4>Etnia*:</h4>
                                    <md-input-container class="md-block" flex-gt-sm>

                                        <md-select ng-model="paciente.etnia" name="etnia"  required="required"  aria-label="Etnia" placeholder="Etnia">
                                            <md-option ng-repeat="etnia in etnias" ng-value="etnia"   ng-bind="etnia">
                                                &lt;!&ndash; <md-icon md-svg-icon="{{avatar}}"></md-icon>&ndash;&gt;
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="newPacienteForm.etnia.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div flex-gt-xs>
                                    <h4>Escolaridade*:</h4>
                                    <md-input-container class="md-block" flex-gt-sm>

                                        <md-select ng-model="paciente.escolaridade" name="escolaridade" required="required"  aria-label="Escolaridade" placeholder="Escolaridade">
                                            <md-option ng-repeat="escolaridade in escolaridades" ng-value="escolaridade"  ng-bind="escolaridade">
                                                &lt;!&ndash; <md-icon md-svg-icon="{{avatar}}"></md-icon>&ndash;&gt;
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="newPacienteForm.escolaridade.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div flex-gt-xs>
                                    <h4>Profissão*:</h4>
                                    <md-input-container  class="md-block"  flex-gt-sm>
                                        <label>Profissão:</label>
                                        <input ng-model="paciente.profissao" name="profissao" minlength="4" maxlength="25" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" required="required">
                                        <div ng-messages="newPacienteForm.profissao.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                            <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                Deve ter entre 4 e 25.
                                            </div>
                                            <div ng-message-exp="['pattern']">
                                                Não pode ter números e caracteres especiais.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>
                            <div layout-gt-sm="row">

                                <div flex-gt-xs>
                                    <h4>Nome do Pai*:</h4>
                                    <md-input-container  class="md-block"  flex-gt-sm>
                                        <label>Nome do Pai:</label>
                                        <input ng-model="paciente.nomePai" name="nomePai" minlength="4" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" maxlength="80" required="required">
                                        <div ng-messages="newPacienteForm.nomePai.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                            <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                Deve ter entre 4 e 80.
                                            </div>
                                            <div ng-message-exp="['pattern']">
                                                Não pode ter números e caracteres especiais.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>
                            <div layout-gt-sm="row">
                                <div flex-gt-xs>
                                    <h4>Nome da Mãe*:</h4>
                                    <md-input-container  class="md-block"  flex-gt-sm>
                                        <label>Nome da Mãe:</label>
                                        <input ng-model="paciente.nomeMae" name="nomeMae" minlength="4" maxlength="80" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" required="required">
                                        <div ng-messages="newPacienteForm.nomeMae.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                            <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                Deve ter entre 4 e 80.
                                            </div>
                                            <div ng-message-exp="['pattern']">
                                                Não pode ter números e caracteres especiais.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>
                            <div layout-gt-sm="row">
                                <div flex-gt-xs>
                                    <h4>Nome do Conjuge*:</h4>
                                    <md-input-container  class="md-block"  flex-gt-sm>
                                        <label>Nome do Conjuge:</label>
                                        <input ng-model="paciente.nomeConjuge" name="nomeConjuge" minlength="4" maxlength="80" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/"  required="required">
                                        <div ng-messages="newPacienteForm.nomeConjuge.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                            <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                Deve ter entre 4 e 80.
                                            </div>
                                            <div ng-message-exp="['pattern']">
                                                Não pode ter números e caracteres especiais.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>
                            <div layout-gt-sm="row">
                                <div flex-gt-xs>
                                    <h4>Hobbie*:</h4>
                                    <md-input-container  class="md-block"  flex-gt-sm>
                                        <label>Hobbie:</label>
                                        <input ng-model="paciente.hobbie" name="hobbie" minlength="4" maxlength="25" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" required="required">
                                        <div ng-messages="newPacienteForm.hobbie.$error">
                                            <div ng-message="required">Campo Obrigatório.</div>
                                            <div ng-message-exp="[ 'minlength', 'maxlength']">
                                                Deve ter entre 4 e 25.
                                            </div>
                                            <div ng-message-exp="['pattern']">
                                                Não pode ter números e caracteres especiais.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>


                        </div>


                    </md-tab-body>
                </md-tab>

            </md-tabs>

           <!--<pre>{{paciente | json}}</pre>-->
            <!-- <pre>{{ paciente| json}}</pre>-->
        </md-dialog-content>


        <md-dialog-actions layout="row">


            <md-button  class="md-primary md-raised" ng-click="tabIndexControll()" >
                <md-tooltip md-direction="top">{{tabToolTip}}</md-tooltip>
                <span ng-bind="tabControl" ></span>
            </md-button>
            <md-button ng-click="cancelar()">
                <md-tooltip md-direction="top" >Cancelar</md-tooltip>
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="newPacienteForm.$invalid">
                <md-tooltip md-direction="top" >Salvar</md-tooltip>
                Save
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
