<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <!--<h2 class="md-title">Text</h2>-->
        <div flex></div>

    </div>
</md-toolbar>



<md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="order" md-on-reorder="getDesserts">
        <tr md-row>
            <th md-column md-column ng-if="columns[0].status">
                <span>id:
                    <i class="material-icons" ng-click="reorder('id')">arrow_downward <md-tooltip md-direction="bottom">Asc</md-tooltip></i><i class="material-icons"  ng-click="reorder('-id')">arrow_upward <md-tooltip md-direction="bottom">Desc</md-tooltip></i>
                </span></th>
            <th md-column md-column>Nome:</th>
            <th md-column md-column ng-if="columns[1].status">Descricao:</th>

        </tr>
        </thead>
        <tbody md-body>

        <tr md-row md-select="setor" md-select-id="nome"  md-auto-select ng-repeat="setor in setores | filter:searchText | orderBy: order| limitTo: myLimit: (myPage - 1) * myLimit">
            <pre>{{selected | json}}</pre>
            <td md-cell ng-if="columns[0].status">{{setor.id}}</td>
            <td md-cell>{{setor.nome}}</td>
            <td md-cell ng-if="columns[1].status">{{setor.descricao}}</td>

        </tr>
        <tr md-row ng-show ="setores.length == 0">
            <td class="text-center" colspan="4" >Nenhum setor encontrado.</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>