<!--<md-dialog>
    <form name="newFuncionarioForm" ng-submit="salvar()" ng-init="setFormNewFuncionarioScope(this)">
        <md-dialog-content>
            <div layout="column" layout-padding>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Foto</label>

                        <md-select ng-model="funcionario.foto" name="foto" required="required">
                            <md-option ng-repeat="avatar in avatars" ng-value="avatar">
                                <md-icon md-svg-icon="{{avatar}}"></md-icon>
                            </md-option>
                        </md-select>
                        <div ng-messages="newFuncionarioForm.foto.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nome</label>
                        <input ng-model="funcionario.nome" name="nome" required="required">
                        <div ng-messages="newFuncionarioForm.firstName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>crm</label>
                        <input ng-model="funcionario.crm" name="crm" required>
                        <div ng-messages="newFuncionarioForm.crm.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Especialidade</label>
                    <textarea name="especialidade" ng-model="funcionario.especialidade" rows="5" required></textarea>
                    <div ng-messages="newFuncionarioForm.especialidade.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancelar()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="newFuncionarioForm.$invalid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>-->



<md-dialog aria-label="Cadastro de Funcionarios" data-ng-init="getEnuns()">
    <!--<pre>{{ funcionario| json}}</pre>-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cadastro de Funcionarios</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="newFuncionarioForm" ng-submit="salvar()" ng-init="setFormNewFuncionarioScope(this)">
        <md-dialog-content layout-padding>
            <md-tabs md-dynamic-height md-stretch-tabs="always"  md-selected="tabIndex" md-border-bottom>
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Informações Pessoais</md-tooltip>
                        <ng-md-icon icon="person" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>

                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>


                        <div layout="column" layout-padding>
                            <foto model="funcionario.user.fileUpload" mimetypefile="{{funcionario.user.fileUpload.mimeType}},{{funcionario.user.fileUpload.file}}" showfoto="{{funcionario.user.fileUpload}}"></foto>



                                <div>

                                    <div layout-gt-sm="row">

                                        <div flex-gt-xs>
                                            <div flex-gt-xs>
                                                <h4>Matricula*:</h4>
                                                <md-input-container  class="md-block" flex-gt-sm>
                                                    <label>Matricula(*):</label>
                                                    <input ng-model="funcionario.matricula" ng-disabled="true" name="matricula" minlength="4" maxlength="20" required="required">
                                                    <div ng-messages="newFuncionarioForm.matricula.$error">
                                                        <div ng-message="required">Campo Obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div flex-gt-xs>
                                                <h4>Nome*:</h4>
                                                <md-input-container  class="md-block" flex-gt-sm>
                                                    <label>Nome(*):</label>
                                                    <input ng-model="funcionario.user.nome" md-autofocus name="nome" minlength="4" maxlength="80" required="required">
                                                    <div ng-messages="newFuncionarioForm.nome.$error">
                                                        <div ng-message="required">Campo Obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                        </div>

                                    </div>

                                <div>

                                    <div layout-gt-sm="row">

                                        <div flex-gt-xs>
                                            <h4>RG*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>RG(*):</label>
                                                <input ng-model="funcionario.rg" name="rg" minlength="10" maxlength="12" rg required="required">
                                                <div ng-messages="newFuncionarioForm.rg.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div flex-gt-xs>
                                            <h4>CPF*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>CPF(*):</label>
                                                <input ng-model="funcionario.cpf" name="cpf" required="required"  ui-br-cpf-mask>
                                                <div ng-messages="newFuncionarioForm.cpf.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div flex-gt-xs>
                                            <h4>Data de Nascimento*:</h4>
                                            <md-datepicker ng-model="dataNascimento" ng-change="formattedDate('dataNascimento')"
                                                           md-placeholder="Data Nascimento(*):" class="date-row">

                                            </md-datepicker>
                                        </div>

                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-md="row">
                                        <div flex-gt-xs>
                                            <h4>Cargo*:</h4>
                                            <md-input-container class="md-block" layout-gt-sm>

                                               <!-- <label>Cargo(*):</label>-->
                                                <md-select ng-model="funcionario.cargo"  name="tipoCargo" required="required" placeholder="Inserir Cargo">
                                                    <md-option ng-repeat="tipoCargo in tipoCargos" ng-value="tipoCargo" ng-bind="tipoCargo.nome">
                                                        <md-icon md-svg-icon="{{avatar}}"></md-icon>
                                                    </md-option>
                                                </md-select>
                                                <md-icon md-svg-src="circle_plus" ng-click="addCargo($event)"></md-icon>
                                                <div ng-messages="funcionarioForm.tipoCargo.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <!--<md-input-container class="md-block" flex-gt-md>
                                            <md-icon md-svg-src="circle_plus"></md-icon>

                                            <label>Cargo:</label>

                                            <input ng-model="funcionario.cargo" name="cargo" required="required">

                                            <div ng-messages="newFuncionarioForm.cargo.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>-->
                                        <div flex-gt-xs>
                                            <h4>Setor*:</h4>
                                            <md-input-container class="md-block" layout-gt-sm>

                                                <!--<label>Setor(*):</label>-->
                                                <md-select ng-model="funcionario.setor"  name="tipoSetor" required="required" placeholder="Inserir Setor">
                                                    <md-option ng-repeat="tipoSetor in tipoSetores" ng-value="tipoSetor" ng-bind="tipoSetor.nome">
                                                        <md-icon md-svg-icon="{{avatar}}"></md-icon>
                                                    </md-option>
                                                </md-select>
                                                <md-icon md-svg-src="circle_plus" ng-click="addSetor($event)"></md-icon>
                                                <div ng-messages="funcionarioForm.tipoSetor.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                       <!-- <div flex-gt-xs>
                                            <h4>Especialidade*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Especialidade(*):</label>
                                                <input ng-model="funcionario.especialidade" name="especialidade" minlength="4" maxlength="60" required="required">
                                                <div ng-messages="newFuncionarioForm.especialidade.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>-->

                                    </div>

                                </div>
                                <div>

                                    <div layout-gt-sm="row">

                                        <div flex-gt-xs>
                                            <h4>Data de Admissão*:</h4>
                                            <md-datepicker ng-model="dataAdmissao"
                                                           md-placeholder="Data Admissao(*):" class="date-row" ng-change="formattedDate('dataAdmissao')">

                                            </md-datepicker>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Telefone*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <!--<md-icon md-svg-src="phone_form"></md-icon>-->
                                                <label>Telefone(*):</label>
                                                <input ng-model="funcionario.telefone"  name="rg" required="required" ui-br-phone-number>
                                                <div ng-messages="newFuncionarioForm.telefone.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Sexo*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>

                                                <md-radio-group  ng-model="funcionario.sexo" class="md-padding" layout="row" layout-sm="column" layout-align="left center"
                                                                 style="padding-top: 0;">

                                                    <!--<md-radio-button ng-repeat="sexo in sexos" value="{{sexo}}" ng-bind="sexo" aria-label="{{sexo}}" flex class="md-primary"></md-radio-button>-->
                                                    <md-radio-button ng-repeat="sexo in sexos" value="{{sexo}}" flex>{{sexo}}</md-radio-button>



                                                </md-radio-group>
                                            </md-input-container>
                                        </div>



                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Cep*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Cep(*):</label>
                                                <input ng-model="funcionario.cep"  name="cep" required="required" ui-br-cep-mask>
                                                <div ng-messages="newFuncionarioForm.cep.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>

                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Rua*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Rua(*):</label>
                                                <input ng-model="funcionario.rua" ng-disabled="true"  name="rua" required="required">
                                                <div ng-messages="newFuncionarioForm.rua.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>



                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Bairro*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Bairro(*):</label>
                                                <input ng-model="funcionario.bairro" ng-disabled="true" name="bairro" required="required" >
                                                <div ng-messages="newFuncionarioForm.bairro.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Cidade*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Cidade(*):</label>
                                                <input ng-model="funcionario.cidade" ng-disabled="true" name="cidade" required="required">
                                                <div ng-messages="newFuncionarioForm.cidade.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <!-- <md-input-container class="md-block"  layout-gt-sm>
                                             <label>Cidade:</label>
                                             <md-select ng-model="funcionario.cidade" name="cidade" required="required">
                                                 <md-option ng-repeat="cidade in cidades" ng-value="cidade"  ng-bind="cidade">
                                                     &lt;!&ndash; <md-icon md-svg-icon="{{avatar}}"></md-icon>&ndash;&gt;
                                                 </md-option>
                                             </md-select>
                                             <div ng-messages="userForm.cidade.$error">
                                                 <div ng-message="required">This is required.</div>
                                             </div>
                                         </md-input-container>

                                         <md-input-container class="md-block" layout-gt-sm>
                                             <label>Estado:</label>
                                             <md-select ng-model="funcionario.estado" name="estado" required="required">
                                                 <md-option ng-repeat="estado in estados" ng-value="estado" ng-bind="estado">
                                                     <&lt;!&ndash;md-icon md-svg-icon="{{avatar}}"></md-icon>&ndash;&gt;
                                                 </md-option>
                                             </md-select>
                                             <div ng-messages="funcionarioForm.estado.$error">
                                                 <div ng-message="required">This is required.</div>
                                             </div>
                                         </md-input-container>-->
                                    </div>

                                </div>


                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Estado*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Estado(*):</label>
                                                <input ng-model="funcionario.estado" ng-disabled="true" name="estado" required="required">
                                                <div ng-messages="newFuncionarioForm.estado.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Número*:</h4>
                                            <md-input-container class="md-block" >
                                                <label>Número(*):</label>
                                                <input ng-model="funcionario.numero" name="numero" required="required">
                                                <div ng-messages="newFuncionarioForm.numero.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab >
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Informações de acesso</md-tooltip>
                        <ng-md-icon icon="lock_open" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>


                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>

                        <div layout="column" layout-padding>



                            <div>

                                <div flex-gt-xs>
                                    <h4>Email*:</h4>
                                    <md-input-container  class="md-block" >

                                        <label>Email(*):</label>
                                        <input ng-model="funcionario.user.email" type="email" name="email" required="required" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                                        <md-icon md-svg-src="email_form"></md-icon>
                                        <div ng-messages="newFuncionarioForm.email.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                Deve ter entre 10 e 100 letras e ser válido.
                                            </div>
                                        </div>

                                    </md-input-container>
                                </div>
                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Senha*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>

                                                <label>Senha(*):</label>
                                                <input ng-model="funcionario.user.password" name="senha" type="password" minlength="6" maxlength="80"  ng-required="true" />
                                                <md-icon md-svg-src="key_form"></md-icon>
                                                <div ng-messages="newFuncionarioForm.senha.$error">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <!--<md-input-container class="md-block" layout-gt-sm>
                                            <md-icon md-svg-src="group_access_form"></md-icon>
                                            <label>Grupo de Acesso:</label>
                                            <md-select ng-model="funcionario.grupoAcesso" name="grupoAcesso" required="required">
                                                <md-option ng-repeat="grupoAcesso in grupoAcessos" ng-value="grupoAcesso">
                                                    <md-icon md-svg-icon="{{avatar}}"></md-icon>
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="funcionarioForm.grupoAcesso.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>-->


                                    </div>

                                </div>


                                <div flex="100" flex-gt-sm="50" layout="column">
                                    <div>

                                        <fieldset class="standard" >
                                            <legend>Permissões*: </legend>
                                            <div layout="row" layout-wrap flex>
                                                <div flex="100" ng-repeat="permissao in permissoes">
                                                    <md-checkbox id="{{permissao.id}}" type="checkbox" checklist-model="funcionario.user.permissoes" checklist-value="permissao" ></md-checkbox>
                                                    <span>{{permissao.role | formatPermission}}</span>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                               <!--<pre> {{funcionario | json}}</pre>
                              <pre> {{permissoes | json}}</pre>-->
                                <div>

                                    <div layout-gt-sm="row">
                                        <div flex-gt-xs>
                                            <h4>Status*:</h4>
                                            <md-input-container class="md-block" flex-gt-sm>

                                                <md-radio-group ng-model="funcionario.status" class="md-padding" layout="row" layout-sm="column" layout-align="left center"
                                                                style="padding-top: 0;">

                                                    <md-radio-button value="Ativo" flex class="md-primary">Ativo</md-radio-button>
                                                    <md-radio-button value="Inativo" flex> Inativo</md-radio-button>



                                                </md-radio-group>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>

            </md-tabs>
        </md-dialog-content>
        <!--<pre>{{funcionario | json}}</pre>-->


        <md-dialog-actions layout="row">


            <md-button  class="md-primary md-raised" ng-click="tabIndexControll()" >
                <md-tooltip md-direction="top">{{tabToolTip}}</md-tooltip>
                <span ng-bind="tabControl" ></span>
            </md-button>
            <md-button ng-click="cancelar()">
                <md-tooltip md-direction="top" >Cancelar</md-tooltip>
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="newFuncionarioForm.$invalid">
                <md-tooltip md-direction="top" >Salvar</md-tooltip>
                Save
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>

