
<md-dialog aria-label="Gerar Horário para Agendamento" data-ng-init="getEnuns()">
    <!--<pre>{{ funcionario| json}}</pre>-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Solicitação0 de Agendamento</h2>
            <span flex></span>

        </div>
    </md-toolbar>
    <form name="newAgendamento" ng-submit="salvar()" >
        <md-dialog-content layout-padding>

            <md-tabs md-dynamic-height md-stretch-tabs="always"   md-border-bottom>
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Gerar Horário</md-tooltip>
                        <ng-md-icon icon="person" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>


                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>


                        <div layout="column" layout-padding>
                            <!-- <foto model="funcionario.user.fileUpload" mimetypefile="{{funcionario.user.fileUpload.mimeType}},{{funcionario.user.fileUpload.file}}" showfoto="{{funcionario.user.fileUpload}}"></foto>-->



                            <div>

                                <div layout-gt-sm="row">

                                    <div flex-gt-xs>
                                        <div flex-gt-xs>
                                            <h4>Paciente*:</h4>



                                            <md-autocomplete  required
                                                              md-input-name="autocompleteField"
                                                              md-input-minlength="3"
                                                              md-input-maxlength="60"
                                                              md-selected-item-change="setPaciente(elements)"
                                                              md-selected-item="elements.paciente"
                                                              md-search-text="searchText"
                                                              md-items="elements in pacientes | filter:searchText"
                                                              md-item-text="elements.user.nome"
                                                              md-require-match
                                                              md-floating-label="Filtar Paciente">
                                                <md-item-template>
                                                    <!--<span md-highlight-text="ctrl.searchText">{{item.display}}</span>-->

                                                    <span class="item-title" ng-click="">
                                                         <md-icon md-svg-icon="user_m" class="md-user-avatar" ng-click="setPaciente(elements)" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Masculino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                                        <md-icon md-svg-icon="user_f" class="md-user-avatar" ng-click="setPaciente(elements)" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Feminino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                                         <img class="md-user-avatar"  ng-if="!!elements.user.fileUpload"  src="{{elements.user.fileUpload.mimeType}},{{elements.user.fileUpload.file}}" class="avatar" style="width: 20px; height: 20px;" />

                                                        <span md-highlight-text="searchText"   md-highlight-flags="^i">{{elements.user.nome}}</span><span>/</span>
                                                         <span md-highlight-text="searchText"  md-highlight-flags="^i">
                                                         {{elements.cpf}}/
                                                        </span>
                                                        <span md-highlight-text="searchText"  md-highlight-flags="^i">
                                                         Matricula: {{elements.matricula}}
                                                    </span>
                                                    </span>
                                                </md-item-template>
                                                <div ng-messages="newAgendamento.autocompleteField.$error" ng-if="newAgendamento.autocompleteField.$touched">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                    <div ng-message="md-require-match">Não encontrado. Tente outro nome</div>
                                                    <div ng-message="minlength">Your entry is not long enough.</div>
                                                    <div ng-message="maxlength">Your entry is too long.</div>
                                                </div>
                                            </md-autocomplete>

                                        </div>

                                        <div flex-gt-xs>
                                            <h4>Médico(a)*:</h4>
                                            <span>{{itemAgenda.medico.user.nome}}</span>

                                        </div>

                                    </div>

                                </div>

                                <div layout-gt-sm="row">

                                    <div flex-gt-xs>

                                        <div flex-gt-xs>
                                            <h4>Data de Agendamento*:</h4>
                                            <span>{{itemAgenda.agenda.dataAgendamento}}</span>

                                        </div>

                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-sm="row">


                                        <div flex-gt-xs>
                                            <h4>Data/Hora Inicial*:</h4>
                                            <span>{{itemAgenda.agenda.dataHoraInicialConsulta}}</span>


                                        </div>

                                    </div>

                                </div>

                                <div>

                                    <div layout-gt-sm="row">


                                        <div flex-gt-xs>
                                            <h4>Data/Hora Final*:</h4>
                                            <span>{{itemAgenda.agenda.dataHoraFinalConsulta}}</span>


                                        </div>

                                    </div>

                                </div>







                                <div>

                                    <div layout-gt-sm="row">





                                        <div flex-gt-xs>
                                            <h4>Tipo Agendamento*:</h4>
                                            <span>{{itemAgenda.tipoAgenda}}</span>
                                        </div>



                                    </div>


                                </div>


                                <div>

                                    <div layout-gt-sm="row">


                                        <div flex-gt-xs>
                                            <h4>Status Agenda*:</h4>
                                            <span>{{itemAgenda.statusAgenda}}</span>
                                        </div>

                                    </div>


                                </div>

                                <div>

                                    <div layout-gt-sm="row">


                                        <div flex-gt-xs>
                                            <h4>Valor da Consulta*:</h4>
                                            <span>{{itemAgenda.valorConsulta | currency:"R$"}}</span>
                                        </div>

                                    </div>


                                </div>


                            </div>
                            <pre>{{itemAgenda | json}}</pre>
                        </div>
                    </md-tab-body>
                </md-tab>


            </md-tabs>

            <!-- <pre>{{itemAgenda | json}}</pre>-->
        </md-dialog-content>
        <!--<pre>{{funcionario | json}}</pre>-->


        <md-dialog-actions layout="row">

            <md-button ng-click="cancelar()">
                <md-tooltip md-direction="top" >Cancelar</md-tooltip>
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="newAgendamento.$invalid">
                <md-tooltip md-direction="top" >Salvar</md-tooltip>
                Save
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>