<md-dialog aria-label="List dialog">
    <md-toolbar class="md-menu-toolbar" class="scrollable-nav-content">
        <div layout="row">

            <md-toolbar layout-align="center center">



                <h3>Visualisar Colunas</h3>

            </md-toolbar>





        </div>

    </md-toolbar>
    <md-content class="page-container content-app" class="scrollable-nav-content" >




        <md-table-container>
            <table data-md-table >
                <!-- <thead md-head md-order="query.order">
                  <tr md-row>
                    <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
                      <span>{{column.name}}</span>
                      <span ng-if="column.unit">({{column.unit}})</span>
                    </th>
                  </tr>
                </thead> -->
                <thead  md-head>
                    <tr md-row>
                        <th md-column><span>#:</span></th>
                        <th md-column><span>Colunas:</span></th>
                    </tr>
                </thead>
                </thead>
                <tbody md-body>
                <tr md-row  ng-repeat="item in columns">
                    <td md-cell> <md-checkbox ng-checked="item.status" aria-label="show columns"
                                              md-indeterminate="indeter" ng-click="item.status=!item.status">
                    </md-checkbox></td>
                    <td md-cell>{{item.name}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        </md-content>
    <md-dialog-actions>
         <md-button ng-click="closeDialog()" class="md-primary">Fechar
            </md-button>
        </md-dialog-actions>
    </md-dialog>
