<md-sidenav  class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"  >

    <md-toolbar class="toolbar-sidernav">
        <md-icon md-svg-icon="logo" class="logo"></md-icon>



    </md-toolbar >
    <!--<div layout-padding>
        <md-autocomplete
                md-search-text="searchText"
                md-items="elements in users | filter:searchText"
                md-item-text="elements.name"
                md-min-length="3"
                placeholder="filter">
            <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.name}}</span>
            </md-item-template>
            <md-not-found>
                No user matching "{{searchText}}" were found.
            </md-not-found>
        </md-autocomplete>
    </div>-->
<!--
    <div layout-padding class="toolbar-layout-padding">
    <md-list >
        <md-list-item >
            <div>
                <ng-md-icon icon="dashboard" class="material-icons  md-24"></ng-md-icon>

            </div>
        </md-list-item>
    </md-list>
</div>
-->




    <md-content class="scrollable-nav-content">
       <!-- <md-list>
            <md-list-item ng-repeat="user in users | filter: searchText |orderBy:'name'">
                <md-button ng-click="selectUser(user)" ng-class="{'selected': user === selected}">
                    <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
                    {{user.name}}
                </md-button>
            </md-list-item>

        </md-list>-->

        <!--<md-list flex>
            <md-list-item class="md-2-line" ng-click="Link()">
                <div>
                    <ng-md-icon icon="home" class="material-icons  md-24"></ng-md-icon>
                    Médicos
                </div>
                &lt;!&ndash;<div><a href="/#!/medicos" md-ink-ripple>
                    <ng-md-icon icon="home" class="material-icons  md-24"></ng-md-icon>
                    Médicos</a>
                </div>&ndash;&gt;
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="Link()">
                <div>
                    <ng-md-icon icon="home" class="material-icons  md-24"></ng-md-icon>
                    Pacientes
                </div>
                &lt;!&ndash;<div><a href="/#!/pacientes" md-ink-ripple>
                    <ng-md-icon icon="home" class="material-icons  md-24"></ng-md-icon>
                    Pacientes</a>
                </div>&ndash;&gt;
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="Link('/view1')">
                <div>
                    <ng-md-icon icon="local_pharmacy" class="material-icons  md-24"></ng-md-icon>
                    Prontuários
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="Link('/view1')">
                <div>
                    <ng-md-icon icon="local_hospital" class="material-icons  md-24"></ng-md-icon>
                    Medicamentos
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="Link('/view1')">
                <div>
                    <ng-md-icon icon="notifications" class="material-icons  md-24"></ng-md-icon>
                    Notificações
                </div>
            </md-list-item>
        </md-list>-->

        <md-accordion>
            <md-accordion-group>
                <md-subheader class="md-no-sticky"></md-subheader>
                <md-accordion-button    href="#!/home"> <md-icon md-svg-icon="home" class="menu-svg"></md-icon>Home</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])" ></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"  href="#!/setores"> <md-icon md-svg-icon="setor" class="menu-svg"></md-icon>Setores</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])"></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"  href="#!/cargos"> <md-icon md-svg-icon="cargo" class="menu-svg"></md-icon>Cargos</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_SECRETARIA'])"></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_SECRETARIA'])"  href="#!/agendas"> <md-icon md-svg-icon="agenda" class="menu-svg"></md-icon>Agendas</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_SECRETARIA'])"></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_SECRETARIA'])"  href="#!/convenios"> <md-icon md-svg-icon="convenio" class="menu-svg"></md-icon>Convênios</md-accordion-button>

                <md-divider ng-show="hasAnyPermission(['ROLE_PACIENTE'])"></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_PACIENTE'])"  href="#!/compromissos"> <md-icon md-svg-icon="compromisso" class="menu-svg"></md-icon>Compromissos</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_PACIENTE'])"></md-divider>
                <md-divider ng-show="hasAnyPermission(['ROLE_SECRETARIA'])"></md-divider>
                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])" ></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"   href="#!/medicos"> <md-icon md-svg-icon="medico" class="menu-svg"></md-icon>Médicos</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])"></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"   href="#!/funcionarios"> <md-icon md-svg-icon="funcionario" class="menu-svg"></md-icon>Funcionários</md-accordion-button>

                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])" ></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"  href="#!/pacientes"> <md-icon md-svg-icon="paciente" class="menu-svg"></md-icon>Pacientes</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])" ></md-divider>
                <!--<md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"   href="#!/prontuarios"> <md-icon md-svg-icon="prontuario" class="menu-svg"></md-icon>Prontuários</md-accordion-button>
                <md-divider ng-show="hasAnyPermission(['ROLE_ADMIN'])" ></md-divider>
                <md-accordion-button  ng-show="hasAnyPermission(['ROLE_ADMIN'])"   href="#!/medicamentos"> <md-icon md-svg-icon="medicamento" class="menu-svg"></md-icon>Médicamentos</md-accordion-button>
                <md-divider></md-divider>-->
                <md-accordion-button    href="#!/notificacoes"> <md-icon md-svg-icon="notificacoes" class="menu-svg"></md-icon>Notificações</md-accordion-button>
                <md-divider></md-divider>
                <md-accordion-button    href="#!/configuracoes"> <md-icon md-svg-icon="settings" class="menu-svg"></md-icon>Configurações</md-accordion-button>
                <md-divider></md-divider>
               <!-- <md-accordion-content  md-icon="home" md-heading="Configurações" md-arrow="true">

                    <md-accordion-button href="#">Submenu 1</md-accordion-button>
                    <md-accordion-button href="#">Submenu 2</md-accordion-button>
                    <md-accordion-button href="#">Submenu 3</md-accordion-button>
                </md-accordion-content>-->
            </md-accordion-group>

           <!-- <md-accordion-group>
                <md-divider></md-divider>

                <md-subheader class="md-no-sticky">Caption</md-subheader>

                <md-accordion-button href="#">Menu 4</md-accordion-button>
            </md-accordion-group>-->
        </md-accordion>

    </md-content>


</md-sidenav>
