
<md-dialog aria-label="Gerar Horário para Agendamento" >
    <!--<pre>{{ funcionario| json}}</pre>-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Gerar Horários para Agendamentos</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelar()">
                <!--<i class="material-icons">close</i>-->
                <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="eventForm" ng-submit="salvar()" >
        <md-dialog-content layout-padding>

            <md-tabs md-dynamic-height md-stretch-tabs="always"   md-border-bottom>
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="bottom">Gerar Horário</md-tooltip>
                        <ng-md-icon icon="perm_contact_calendar" class="material-icons  md-24">
                    </md-tab-label>
                    <md-tab-body>


                        <!--Show errors-->
                        <div class="contextual-error-toast" style="" ng-if="statusError == 'unsuccess'"><div class="error-toast-content">
                            <div layout="column" layout-padding>
                                <span class="md-highlight flex" ng-repeat="(key, mensagem) in messages "style="color:#FF5252" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="mensagem"></span></span></span>
                                <span class="md-highlight flex" style="color:#FF5252" ng-if="message" flex=""><i class="material-icons">error</i> Erro - <span ng-bind="message"></span></span></span>

                            </div></div>
                        </div>


                        <div layout="column" layout-padding>
                            <!-- <foto model="funcionario.user.fileUpload" mimetypefile="{{funcionario.user.fileUpload.mimeType}},{{funcionario.user.fileUpload.file}}" showfoto="{{funcionario.user.fileUpload}}"></foto>-->



                            <div>

                                <div layout-gt-sm="row">

                                    <div flex-gt-xs>

                                        <div flex-gt-xs>
                                            <h4>Médico*:</h4>

                                            <md-autocomplete  required
                                                              md-input-name="autocompleteField"
                                                              md-input-minlength="3"
                                                              md-input-maxlength="60"

                                                              md-selected-item="elements.medico"
                                                              md-search-text="searchText"
                                                              md-items="elements in medicos | filter:searchText"
                                                              md-item-text="elements.user.nome"
                                                              md-require-match
                                                              md-floating-label="Filtar Médico">
                                                <md-item-template>
                                                    <!--<span md-highlight-text="ctrl.searchText">{{item.display}}</span>-->

                                                    <span class="item-title">
                                     <md-icon md-svg-icon="doutor" class="md-user-avatar" ng-click="setMedico(elements)" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Masculino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                    <md-icon md-svg-icon="doutora" class="md-user-avatar" ng-click="setMedico(elements)" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Feminino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                     <img class="md-user-avatar" ng-if="!!elements.user.fileUpload"  src="{{elements.user.fileUpload.mimeType}},{{elements.user.fileUpload.file}}" class="avatar" style="width: 20px; height: 20px;" />

                                <span md-highlight-text="searchText"  md-highlight-flags="^i">{{elements.user.nome}}</span><span>/</span>
                                     <span md-highlight-text="searchText"  md-highlight-flags="^i">
                                     {{elements.especialidade}}/
                                    </span>
                                    <span md-highlight-text="searchText"  md-highlight-flags="^i">
                                     {{elements.tipoRegistro}}: {{elements.registroProfissional}}
                                    </span>
                                </span>
                                                </md-item-template>
                                                <div ng-messages="searchHorariosAgendamentos.autocompleteField.$error" ng-if="searchHorariosAgendamentos.autocompleteField.$touched">
                                                    <div ng-message="required">Campo Obrigatório.</div>
                                                    <div ng-message="md-require-match">Não encontrado. Tente outro nome</div>
                                                    <div ng-message="minlength">Your entry is not long enough.</div>
                                                    <div ng-message="maxlength">Your entry is too long.</div>
                                                </div>
                                            </md-autocomplete>

                                        </div>

                                    </div>
                                </div>

                                <div layout-gt-sm="row">


                                    <div flex-gt-xs>
                                        <h4>Periodo Inicial*:</h4>
                                        <md-datepicker ng-model="periodoInicialConsulta" md-autofocus
                                                       name="dateField" required="required"
                                                       ng-change="formattimepiker('periodoInicialConsulta',0)"
                                                       md-current-view="year"   md-min-date="dataMinimaInicial" md-max-date="dataMaximaInicial"    md-placeholder="Periodo Inicial:" class="date-row">

                                        </md-datepicker>
                                        <div ng-messages="eventForm.dateField.$error">
                                            <div ng-message="valid">A data inserida não é válida!</div>
                                            <div ng-message="required">Campo Obrigatório!</div>
                                            <div ng-message="mindate">Deve ser maior que a data de hoje!</div>
                                            <div ng-message="maxdate">Deve ser menor ou igual ao intervalo de 7 dias!</div>
                                        </div>

                                    </div>

                                    <div flex-gt-xs>
                                        <h4>Periodo Final*:</h4>
                                        <md-datepicker ng-model="periodoFinalConsulta" md-current-view="year"
                                                       md-placeholder="Data Final:" md-min-date="dataMinimaInicialFinal" md-max-date="dataMaximaInicial" ng-disabled="statusDataFinalConsulta"  class="date-row" ng-change="formattimepiker('periodoFinalConsulta')">

                                        </md-datepicker>
                                    </div>

                                </div>

<!--                                <pre>{{periodoInicialConsulta | json}}</pre>
                                <pre>{{periodoFinalConsulta | json}}</pre>
                                <pre>{{elements | json}}</pre>-->




                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>


            </md-tabs>

            <!-- <pre>{{itemAgenda | json}}</pre>-->
        </md-dialog-content>
        <!--<pre>{{funcionario | json}}</pre>-->


        <md-dialog-actions layout="row">

            <md-button ng-click="cancelar()">
                <md-tooltip md-direction="top" >Cancelar</md-tooltip>
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="eventForm.$invalid">
                <md-tooltip md-direction="top" >Salvar</md-tooltip>
                Save
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>