<div class="md-toolbar-tools">
    <md-button hide-gt-sm ng-click="toggleSideNav()" aria-label="menu" class="md-icon-button">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>


    <span flex></span>

    <div class="User_Button">

        <!--<label id="User_Profile_icon" hide-xs ng-show="authDetails.authenticated" ng-bind = "authDetails.name"></label>-->
        <md-tooltip md-direction="top" ng-show="authDetails.authenticated" >{{authDetails.name}}</md-tooltip>
        <md-icon md-svg-icon="generic_user" class="md-user-avatar"  ng-if="!authDetails.file" style="width: 50px; height: 50px;"></md-icon>

        <img class="md-user-avatar" ng-if="authDetails.file && authDetails.file.mimeType != null "  src="{{authDetails.file.mimeType}},{{authDetails.file.file}}" class="avatar" style="width: 50px; height: 50px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" />

    </div>


    <md-button
            class="md-icon-button"
            aria-label="Sair"
            ng-click="logout()">
        <md-tooltip md-direction="bottom">Sair</md-tooltip>
        <ng-md-icon icon="forward" class="material-icons  md-24"></ng-md-icon>
    </md-button>


</div>
