






<!--<div class="inset" hide-sm></div>-->
<div layout-gt-sm="row" ng-controller="AgendamentoController" layout-align="center center">

    <!-- <pre>{{elements | json}}</pre>-->
    <div flex-gt-sm="95" flex-gt-lg="80">
        <!--<md-card>-->










        <md-list>
            <!--<md-list ng-if="keys(medico).length">-->

            <md-subheader class="md-primary">Escala de Atendimento: </md-subheader>
            <list-perfil objectkey="Ultima Modificação:" valuelist="13/09/2017"  ></list-perfil>

        </md-list>
        <div class="md-list-item-text">
            <md-button  class="md-primary md-raised" ng-click="initParamenters.showCardTable = true" >
                <md-tooltip md-direction="top">Visão Cards</md-tooltip>
                <span ><ng-md-icon icon="view_module"  ></ng-md-icon></span>
            </md-button>
            <md-button  class="md-primary md-raised" ng-click="initParamenters.showCardTable = false" >
                <md-tooltip md-direction="top">Visão Lista</md-tooltip>
                <span ><ng-md-icon icon="view_list"  ></ng-md-icon></span>
            </md-button>
        </div>
            <md-divider ></md-divider>



            <md-content layout="column" layout-fill ng-if ="itensAgenda.length == 0 && !data_loading && initParamenters.showResultHorarios == true"  >

                <div class="inset" hide-sm ng-if="initParamenters.showCardTable == false"></div>
                <div layout-gt-sm="row" layout-align="center center">


                    <span>Nenhum Horário Encontrado. Pesquise Novamente</span>






                </div>
            </md-content>










            <md-content layout="column" layout-fill >

                <div class="inset" hide-sm></div>
                <div layout="row" flex layout-xs="column">
                    <div layout="column" flex-gt-xs="33"
                         flex-xs="100" ><!--ngrepeat-->
                        <md-card>
                            <md-toolbar class="animate-show md-hue" style="padding:20px">
                                <md-list-item class="md-3-line" >

                                    <div class="mrgn-b-md" flex layout="row" flex layout-align="start center" style="box-sizing: border-box; max-height: 100%; display: flex; flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; place-content: center flex-start; align-items: center; -moz-box-pack: start; -moz-box-align: center;">
                                        <div flex layout="column" style="display: flex; box-sizing: border-box; flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal;">
                                            <div class="user-thumb">
                                                <h4 class="headline">Dia: Segunda-Feira</h4>
                                                <span class="gene-block ">
                                                    <!--<md-button  class=" md-raised" ng-click="" style="width:100%">-->

                                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                                            <md-tooltip md-direction="top">Escala de Atendimento</md-tooltip>
                                                            <!--<ng-md-icon icon="event_available" ng-click="novoAgendamento($event,itemAgenda)"  size="48px" ></ng-md-icon>-->
                                                            <md-icon md-svg-icon="escala_atendimento" style="width: 200px; border:0; height: 110px;" class="  "></md-icon>

                                                        </section>
    <!--</md-button>-->
                                                </span>


                                                <span class="gene-block " >
                                                    <!--<md-button  class=" md-raised" ng-click="" style="width:100%">-->


                                                          <div layout="row" layout-align="end center" layout-wrap>
                                                               <span flex></span>
                                                              <div>
                                                                  <md-tooltip md-direction="top">Editar Escala</md-tooltip>
                                                                    <ng-md-icon icon="border_color" ng-click="novoAgendamento($event,itemAgenda)"  size="32px" style="margin-right:20px" ></ng-md-icon>
                                                              </div>
                                                              <div>
                                                                  <md-tooltip md-direction="top">Deletar Escala</md-tooltip>
                                                                    <ng-md-icon icon="delete" ng-click="novoAgendamento($event,itemAgenda)"  size="32px" ></ng-md-icon>
                                                              </div>


                                                          </div>
    <!--</md-button>-->
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </md-list-item>



                            </md-toolbar>

                            <div class="user-content"  style="padding:20px">

                                <span class="gene-block mrgn-b-md">
                                                    <!--<md-button  class=" md-raised" ng-click="" style="width:100%">-->

                                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                                                <div class="user-content">
                                                                    <span class="gene-block" > <ng-md-icon icon="access_time" style="fill:#757575"  ></ng-md-icon>Periodo: Manha/Tarde</span>
                                                                    <span class="gene-block" > <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Entrada: 08:00</span>
                                                                    <span class="gene-block mrgn-b-md" > <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Saida: 19:00</span>

                                                                    <span class="gene-block " > <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Intervalo(Entrada): 12:00</span>
                                                                    <span class="gene-block mrgn-b-md" > <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Intervalo(Saida): 13:00</span>
                                                                    <md-divider style="margin-bottom:10px"></md-divider>
                                                                    <span class="gene-block mrgn-b-md" > <ng-md-icon icon="timer" style="fill:#757575"  ></ng-md-icon>Intervalo de Agendamento: 30Min</span>
                                                                    <span class="gene-block" > <ng-md-icon icon="airline_seat_angled" style="fill:#757575"  ></ng-md-icon>Quantidade de vagas por Intervalo(agendamento online): 3</span>
                                                                    <span class="gene-block mrgn-b-md" > <ng-md-icon icon="info" style="fill:#757575"  ></ng-md-icon>Ordem de Atendimento: <a class="mat-blue-800 gene-btn-sm">Agendamento</a></span>

                                                                </div>

                                                        </section>
                                    <!--</md-button>-->
                                </span>

                                <md-divider style="margin-bottom:10px"></md-divider>





                            </div>

                        </md-card>
                    </div>
                </div>
            </md-content>








        <!--</md-card>-->



    </div>
</div>













