






<!-- <pre>{{elements | json}}</pre>-->
<div layout-gt-sm="row"  layout-align="center center">
    <div flex-gt-sm="95" flex-gt-lg="80">

        <!--<md-card>-->










        <md-list>
            <!--<md-list ng-if="keys(medico).length">-->

            <md-subheader class="md-primary">Escala de Atendimento: </md-subheader>
            <list-perfil objectkey="Ultima Modificação:" ng-if ="escala != null" valuelist="{{escala.dataModificacao}}"  ></list-perfil>


        </md-list >
        <!--<div class="md-list-item-text" ng-if="itensEscala.length > 0">
            <md-button  class="md-primary md-raised" ng-click="initParamenters.showCardTable = true" >
                <md-tooltip md-direction="top">Visão Cards</md-tooltip>
                <span ><ng-md-icon icon="view_module"  ></ng-md-icon></span>
            </md-button>
            <md-button  class="md-primary md-raised" ng-click="initParamenters.showCardTable = false" >
                <md-tooltip md-direction="top">Visão Lista</md-tooltip>
                <span ><ng-md-icon icon="view_list"  ></ng-md-icon></span>
            </md-button>
        </div>
            <md-divider ></md-divider>-->



        <md-content layout="column" layout-fill ng-if ="itensEscala.length == 0"  >


            <div layout-gt-sm="row" layout-align="center center">


                <span>Nenhuma Escala Encontrada.</span>






            </div>
        </md-content>



        <div class='md-padding' layout="row" layout-wrap>
            <md-card style="width: 300px;" ng-repeat="item in itensEscala">


                <md-toolbar class="animate-show md-hue" style="padding:20px">
                    <md-list-item class="md-3-line" >

                        <div class="mrgn-b-md" flex layout="row" flex layout-align="start center" style="box-sizing: border-box; max-height: 100%; display: flex; flex-direction: row; -moz-box-orient: horizontal; -moz-box-direction: normal; place-content: center flex-start; align-items: center; -moz-box-pack: start; -moz-box-align: center;">
                            <div flex layout="column" style="display: flex; box-sizing: border-box; flex-direction: column; -moz-box-orient: vertical; -moz-box-direction: normal;">
                                <div class="user-thumb">
                                    <h4 class="headline">Dia: {{item.diaSemana}}</h4>
                                    <span class="gene-block ">
                                                    <!--<md-button  class=" md-raised" ng-click="" style="width:100%">-->

                                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                                            <md-tooltip md-direction="top">Escala de Atendimento</md-tooltip>
                                                            <!--<ng-md-icon icon="event_available" ng-click="novoAgendamento($event,itemAgenda)"  size="48px" ></ng-md-icon>-->
                                                            <md-icon md-svg-icon="escala_atendimento" style="width: 200px; border:0; height: 110px;" class="  "></md-icon>

                                                        </section>
                                        <!--</md-button>-->
                                                </span>


                                    <span class="gene-block " >
                                                    <!--<md-button  class=" md-raised" ng-click="" style="width:100%">-->


                                                          <div layout="row" layout-align="end center" layout-wrap>
                                                               <span flex></span>
                                                              <div>
                                                                  <md-tooltip md-direction="top">Editar Escala</md-tooltip>
                                                                    <ng-md-icon icon="border_color" ng-click="editItemEscala($event,item)"  size="32px" style="margin-right:20px" ></ng-md-icon>
                                                              </div>
                                                              <div>
                                                                  <md-tooltip md-direction="top">Deletar Escala</md-tooltip>
                                                                    <ng-md-icon icon="delete" ng-click="showConfirm($event,item)"  size="32px" ></ng-md-icon>
                                                              </div>


                                                          </div>
                                        <!--</md-button>-->
                                                </span>
                                </div>
                            </div>
                        </div>
                    </md-list-item>



                </md-toolbar>



                <md-card-content>
                    <div class="user-content"  style="padding:20px">

                                <span class="gene-block mrgn-b-md">
                                                    <!--<md-button  class=" md-raised" ng-click="" style="width:100%">-->

                                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                                                <div class="user-content">
                                                                    <span class="gene-block" > <ng-md-icon icon="access_time" style="fill:#757575"  ></ng-md-icon>Periodo: {{item.periodo}}</span>
                                                                    <span class="gene-block" > <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Entrada: {{item.horaEntrada}}</span>
                                                                    <span class="gene-block mrgn-b-md" > <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Saida: {{item.horaSaida}}</span>

                                                                    <span class="gene-block " ng-if="item.horaPausaEntrada != null"> <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Intervalo(Entrada): {{item.horaPausaEntrada}}</span>
                                                                    <span class="gene-block mrgn-b-md" ng-if="item.horaPausaTermino != null"> <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Intervalo(Saida): {{item.horaPausaTermino}}</span>
                                                                    <span class="gene-block " ng-if="item.horaPausaEntrada == null"> <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Intervalo(Entrada): Não</span>
                                                                    <span class="gene-block mrgn-b-md" ng-if="item.horaPausaTermino == null"> <ng-md-icon icon="timelapse" style="fill:#757575"  ></ng-md-icon>Intervalo(Saida): Não</span>
                                                                    <md-divider style="margin-bottom:10px"></md-divider>
                                                                    <span class="gene-block " > <ng-md-icon icon="timer" style="fill:#757575"  ></ng-md-icon>Intervalo de Agendamento: {{item.intervaloAgendamento}}</span>
                                                                    <span class="gene-block" > <ng-md-icon icon="airline_seat_angled" style="fill:#757575"  ></ng-md-icon>Quantidade de vagas: {{item.quantidadeVagas}}</span>
                                                                    <span class="gene-block mrgn-b-md" > <ng-md-icon icon="info" style="fill:#757575"  ></ng-md-icon>Ordem de Atendimento: <a class="mat-blue-800 gene-btn-sm">{{item.tipoAtendimento}}</a></span>

                                                                </div>

                                                        </section>
                                    <!--</md-button>-->
                                </span>
                    </div>
                    <md-divider style="margin-bottom:10px"></md-divider>
                </md-card-content>

            </md-card>
        </div>







        <!--</md-card>-->



    </div>
</div>












