<div id="calendar" class="page-layout simple fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header" >

        <div class="header-content" layout="column" layout-align="space-between">

            <div class="header-top" layout="row" layout-align="space-between center" layout-xs="column">

            </div>
            <!-- / TOOLBAR -->

            <!-- HEADER BOTTOM -->
            <div class="header-bottom" layout="row" layout-align="center center">


                <div class="title" layout-gt-sm="row">
                    <md-icon md-svg-icon="home" style="width: 200px; height: 200px;" class="logo profile-image avatar huge"></md-icon>

                </div>




            </div>
            <div class="header-bottom" layout="row" layout-align="center center">



                <div class="title" layout-gt-sm="row">
                    <span style="width: 200px; "class="logo-text" >Agendas</span>

                </div>



            </div>
            <!-- / HEADER BOTTOM -->
        </div>

        <!-- ADD EVENT BUTTON -->
        <md-button class="add-event-button md-fab md-warn" ng-click=""
                   aria-label="Editar Perfil" >
            <ng-md-icon icon="add" class="material-icons  md-24"></ng-md-icon>
        </md-button>
        <!-- / ADD EVENT BUTTON -->
    </div>
    <!-- / HEADER -->


    <div class="content" flex>

        <md-progress-linear md-mode="determinate" value="{{determinateValue}}"></md-progress-linear>
        <md-tabs md-dynamic-height md-stretch-tabs="always"  md-selected="tabIndex" md-border-bottom>

            <md-tab>
                <md-tab-label>
                    <md-tooltip md-direction="top">Gerar Horários para Agendamento</md-tooltip>
                    <span ><span ><i class="material-icons">today</i></span></span>
                </md-tab-label>
                <md-tab-body>
                    <!--<md-content class="timeline-tab"
                                ng-include="'app/main/pages/profile/tabs/timeline/timeline.html'">
                    </md-content>-->

                    <div  layout="row" flex layout-xs="column">

                        <div  layout="column" flex-gt-xs="33"
                              flex-xs="100">

                            <div
                            ></div>

                            <div  layout="column" flex="auto">

                                <md-card    ng-drag="isEdited" class="gadget" layout="column" style="min-height: 300px;max-height: 600px">

                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                            <!--<h2>Agendas</h2>-->
                                            <span flex></span>
                                            <md-autocomplete
                                                    md-search-text="searchText"
                                                    md-items="elements in medicos | filter:searchText"
                                                    md-selected-item="elements.nome"

                                                    md-item-text="elements.user.nome"
                                                    md-min-length="3"
                                                    placeholder="Filtrar Médicos">
                                                <md-item-template>

                                                    <md-icon md-svg-icon="doutor" class="md-user-avatar" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Masculino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                                    <md-icon md-svg-icon="doutora" class="md-user-avatar" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Feminino') !== -1" style="width: 20px; height: 20px;"></md-icon>
                                                    <img class="md-user-avatar" ng-if="!!elements.user.fileUpload"  src="{{elements.user.fileUpload.mimeType}},{{elements.user.fileUpload.file}}" class="avatar" style="width: 20px; height: 20px;">

                                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.user.nome}}</span><span>/</span>
                                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.especialidade}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No user matching "{{searchText}}" were found.
                                                </md-not-found>
                                            </md-autocomplete>






                                        </div>
                                    </md-toolbar>


                                    <md-content style="min-height:300px;max-height:500px" md-theme="altTheme">

                                        <section>
                                            <md-subheader class="md-primary">Agendas de Médicos</md-subheader>
                                            <md-list layout-padding ng-repeat="medico in medicos | filter: searchText |orderBy:'nome'" >
                                                <md-list-item class="md-3-line"  >

                                                    <!--<img ng-src="../../../img/user.jpg" class="md-avatar" >-->
                                                    <md-icon md-svg-icon="doutor" class="md-user-avatar" ng-if="!medico.user.fileUpload && medico.sexo.indexOf('Masculino') !== -1" style="width: 60px; height: 60px;"></md-icon>
                                                    <md-icon md-svg-icon="doutora" class="md-user-avatar" ng-if="!medico.user.fileUpload && medico.sexo.indexOf('Feminino') !== -1" style="width: 60px; height: 60px;"></md-icon>
                                                    <img class="md-user-avatar" ng-if="!!medico.user.fileUpload"  src="{{medico.user.fileUpload.mimeType}},{{medico.user.fileUpload.file}}" class="avatar" style="width: 60px; height: 60px;">
                                                    <div class="md-list-item-text">
                                                        <h3>Nome:{{medico.user.nome}}</h3>
                                                        <h4>Especialidade: {{medico.especialidade}}</h4>
                                                        <p>
                                                            {{medico.tipoRegistro}}: {{medico.registroProfissional}}
                                                        </p>
                                                    </div>
                                                    <ng-md-icon ng-click="selectAgenda(medico)" icon="event_note" style="color: #757575; cursor:pointer" class="material-icons  md-24"></ng-md-icon>
                                                    <md-divider ></md-divider>
                                                </md-list-item>
                                            </md-list>


                                        </section>


                                    </md-content>


                                    <div class="toolbar" layout="row" layout-align="start center">

                                    </div>


                                </md-card>
                            </div>
                        </div>






                        <div  layout="column" flex-gt-xs="66"
                              flex-xs="100">

                            <div  flex
                                  ng-drop="isEdited" ></div>

                            <div  layout="column" flex="auto">
                                <md-card-content  flex layout="column">



                                    <md-card  flex="auto"   ng-drag="isEdited" class="gadget" layout="column">
                                        <md-toolbar>
                                            <div class="md-toolbar-tools">
                                                <h2>Calendario: {{medico.user.nome}}</h2>
                                                <span flex></span>

                                            </div>
                                        </md-toolbar>

                                        <md-content style="overflow: inherit;">
                                            <md-event-calendar ng-if="!medico.id"
                                                               ng-model="selected"
                                                               md-events="events"

                                                               md-label="title",
                                                               md-show-create-link="true"
                                                               md-event-click="eventClicked($selectedEvent,$event)"
                                                               md-create-event-click="createClicked($event,$date)"
                                                               md-create-disabled="true"
                                                               auto-height=""
                                                               md-show-create-link
                                                               class="md-primary"

                                            >
                                                <md-event-calendar-header class="md-center" layout="column" layout-padding >
                                                    <div  class="layout-row">
                                                        <md-event-calendar-prev></md-event-calendar-prev>
                                                        <md-event-calendar-title></md-event-calendar-title>
                                                        <md-event-calendar-next></md-event-calendar-next>
                                                    </div>
                                                    <md-event-calendar-today class="layout-row">
                                                    </md-event-calendar-today>
                                                </md-event-calendar-header>
                                            </md-event-calendar>

                                            <md-event-calendar ng-if="medico.id"
                                                               ng-model="selected"
                                                               md-events="events"

                                                               md-label="title",
                                                               md-show-create-link="true"
                                                               md-event-click="eventClicked($selectedEvent,$event)"
                                                               md-create-event-click="createClicked($event,$date)"
                                                               md-create-disabled="dis"
                                                               auto-height=""
                                                               md-show-create-link
                                                               class="md-primary"

                                            >
                                                <md-event-calendar-header class="md-center"  layout="column" layout-padding >
                                                    <div  class="layout-row">
                                                        <md-event-calendar-prev></md-event-calendar-prev>
                                                        <md-event-calendar-title></md-event-calendar-title>
                                                        <md-event-calendar-next></md-event-calendar-next>

                                                    </div>
                                                    <md-event-calendar-today class="layout-row">
                                                    </md-event-calendar-today>
                                                </md-event-calendar-header>
                                            </md-event-calendar>
                                        </md-content>
                                </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </div>

                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-tooltip md-direction="top">Agendamentos</md-tooltip>
                    <ng-md-icon icon="event_available" style="color: #757575; cursor:pointer" class="material-icons  md-24"></ng-md-icon>
                </md-tab-label>
                <md-tab-body>



                    <md-content layout="column" layout-fill ng-include="'appsrc/agenda/agendamento/agendamento.html'"></md-content>


                </md-tab-body>
            </md-tab>


        </md-tabs>


    </div>
    <!-- / CONTENT -->


</div>


<md-button class="md-fab md-fab-bottom-right docs-scroll-fab"
           docs-scroll-class="scrolling"
           ng-click="scrollTop()"
           aria-label="Back to Top">
    <md-tooltip md-direction="top">Back to Top</md-tooltip>
    <ng-md-icon icon="keyboard_arrow_up"  size="32" style="margin-bottom: 10px;
margin-right: 10px;
"></ng-md-icon>

</md-button>