
<md-content class="page-container" class="scrollable-nav-content" >
    <md-toolbar class="md-menu-toolbar" class="scrollable-nav-content">
        <div layout="row">

            <md-toolbar>


                <h1 class="md-title"><md-icon md-svg-icon="funcionario" class="menu-svg"></md-icon></h1>
                <h1>Funcionarios</h1>

            </md-toolbar>


        </div>

    </md-toolbar>
    <md-progress-linear md-mode="determinate" class="md-hue-2" value="{{determinateValue}}"></md-progress-linear>

    <md-content class="page-container content-app" class="scrollable-nav-content">

        <md-card class="page">

            <md-toolbar class="md-hue-2" ng-show="filter.show && !selected.length">
                <div class="md-toolbar-tools">


                    <md-autocomplete
                            md-search-text="searchText"
                            md-items="elements in funcionarios | filter:searchText"
                            md-item-text="elements.user.nome"
                            md-min-length="3"
                            placeholder="filter">
                        <md-item-template>
                            <td md-cell>  <md-tooltip md-direction="bottom">Matr.:{{elements.matricula}}</md-tooltip>
                                <md-icon md-svg-icon="funcionario_m" class="md-user-avatar" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Masculino') !== -1" style="width: 30px; height: 30px;"></md-icon>
                                <md-icon md-svg-icon="funcionario_f" class="md-user-avatar" ng-if="!elements.user.fileUpload && elements.sexo.indexOf('Feminino') !== -1" style="width: 30px; height: 30px;"></md-icon>
                                <img class="md-user-avatar" ng-if="!!elements.user.fileUpload"  src="{{elements.user.fileUpload.mimeType}},{{elements.user.fileUpload.file}}" class="avatar" style="width: 30px; height: 30px;">


                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.user.nome}}</span><span>/CPF:</span>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{elements.cpf}}</span>
                        </md-item-template>
                        <md-not-found>
                            Registro "{{searchText}}" não encontrado.
                        </md-not-found>
                    </md-autocomplete>

                </div>
            </md-toolbar>

            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">

                    <div ng-show="selected.length">{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} </div>

                    <h2 flex md-truncate></h2>

                    <md-button class="md-icon-button" aria-label="Favorite" ng-hide="selected.length || filter.show" ng-click="filter.show = true">
                        <md-tooltip md-direction="bottom">Filtrar Registros</md-tooltip>
                        <ng-md-icon icon="search" class="material-icons  md-24"></ng-md-icon>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Favorite" ng-show="selected.length==1" ng-click="showConfirm($event)">
                        <md-tooltip md-direction="bottom">Deletar Registros</md-tooltip>
                        <ng-md-icon icon="delete" class="material-icons  md-24"></ng-md-icon>
                    </md-button>


                    <md-button class="md-icon-button" aria-label="Favorite" ng-show="selected.length === 1" ng-click="editFuncionario($event)">
                        <md-tooltip md-direction="bottom">Editar Registros</md-tooltip>
                        <ng-md-icon icon="edit" class="material-icons  md-24"></ng-md-icon>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Favorite"  ng-click="removeFilter()" ng-show="filter.show && !selected.length">
                        <md-tooltip md-direction="bottom">Fechar Filtro</md-tooltip>
                        <ng-md-icon icon="close" class="material-icons  md-24"></ng-md-icon>
                    </md-button>

                    <!--Show/Hide Butom columns-->
                    <div>
                        <md-tooltip md-direction="bottom">Mostrar/Esconder Colunas</md-tooltip>


                        <md-button aria-label="menu" class="md-icon-button" ng-click="showColumns($event)">
                            <ng-md-icon icon="more_vert"></ng-md-icon>
                        </md-button>


                    </div>
                    <!--Fim Show/Hide Butom columns-->



                </div>
            </md-toolbar>


            <md-toolbar>

                <h1 class="md-title">Registros</h1>

            </md-toolbar>

            <md-content layout="column" flex>


                <!--<pre>{{funcionarios | json}}</pre>-->


                <md-card ng-include="'../appsrc/funcionario/tables/table.html'" ></md-card>



            </md-content>


            <md-button class="md-fab md-fab-bottom-right" aria-label="addUser" ng-click="addFuncionario($event,null)">
                <md-tooltip md-direction="bottom">Novo Funcionario</md-tooltip>
                <ng-md-icon icon="add"></ng-md-icon>
            </md-button>

        </md-card>

    </md-content>


</md-content>

